apiVersion: v1
kind: Service
metadata:
  name: eticket-postgres
  labels:
    app: eticket-postgres
spec:
  ports:
    - port: 5432
  selector:
    app: eticket-postgres
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: eticket-postgres
spec:
  selector:
    matchLabels:
      app: eticket-postgres
  serviceName: 'eticket-postgres'
  replicas: 1
  template:
    metadata:
      labels:
        app: eticket-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:17
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: password
          volumeMounts:
            - name: eticket-postgres-data
              mountPath: /var/lib/postgresql/data
            - name: db-init-script
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: db-init-script
          configMap:
            name: db-init-script
  volumeClaimTemplates:
    - metadata:
        name: eticket-postgres-data
      spec:
        accessModes: ['ReadWriteOnce']
        resources:
          requests:
            storage: 1Gi
